@import '../../Additional/CrossBrowser';

#BinarySearchTree {
    &.tree {
        padding: 10px;
        display: flex;
        justify-content: center;
        transform-origin: top;
        overflow: visible;
        @include transition(1s ease all);
    }

    .root {
        transform-origin: top left;
        white-space: nowrap;
        flex-shrink: 0;
        @include transform(scale(1));
        @include transition(2s ease width);

        &.moved {
            @include transition(none);

            .node-wrapper, .node-circle.initial, .node-value-text, .line.initial {
                @include transition(none);
            }
        }
    }

    .node-value {
        line-height: 50px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        text-align: center;
        margin-bottom: 10px;
        font-family: monospace;
        margin: 0 calc(50% - 25px);
        font-size: 16px;
        position: relative;
        z-index: 100;
        background: white;
        @include transition(.3s ease all);

        &:last-child {
            margin: 0 10px;
        }
    }

    .node-value-circle {
        width: 50px;
        height: 50px;

        &>text {
            user-select: none;
        }
    }

    .node-circle-background {
        transform-origin: 50% 50%;
        @include transition(all 1s ease);
        @include transform(scale(0));

        &.visited {
            fill: #ffebc6;
        }

        &.success {
            fill: lightgreen;
        }

        &.removed {
            fill: #ffc6c6;
        }
    }

    .node-circle {
        stroke-dasharray: 160;
        transform-origin: 50% 50%;
        stroke-dashoffset: 160;
        @include transition(stroke-dashoffset 1s ease);

        &.initial {
            stroke: black;
            fill: white;
        }

        &.visited {
            stroke: orange;
            stroke-width: 2;

            &.visible {
                stroke-dashoffset: 0;
            }
        }

        &.success {
            stroke: green;
            stroke-width: 2;

            &.visible {
                stroke-dashoffset: 0;
            }
        }

        &.removed {
            stroke: red;
            stroke-width: 2;

            &.visible {
                stroke-dashoffset: 0;
            }
        }
    }

    .node-value-text {
        font-size: 0;
        @include transition(font-size 1s ease);
    }

    .node-circle-traversal {
        width: 50px;
        height: 50px;

        &.visible {
            &>.node-circle-background {
                @include transform(scale(1));
            }

            &>.node-circle {
                stroke-dashoffset: 0;
            }
        }
    }

    .node-line {
        top: -25px;
        stroke: black;
        position: absolute;
        width: 50%;

        &>.line {
            @include transform(scaleX(0) scaleY(0));
            @include transition(all 1s ease);

            &.visited {
                stroke: orange;
                stroke-width: 2;
        
                &.visible {
                    @include transform(scaleX(1) scaleY(1));
                }
            }

            &.success {
                stroke: green;
                stroke-width: 2;
        
                &.visible {
                    @include transform(scaleX(1) scaleY(1));
                }
            }

            &.removed {
                stroke: red;
                stroke-width: 2;
        
                &.visible {
                    @include transform(scaleX(1) scaleY(1));
                }
            }
        }

        &.visible>.line.initial {
            @include transform(scaleX(1) scaleY(1));
        }
    }

    .node-wrapper {
        text-align: center;
        display: inline-block;
        position: relative;
        @include transition(2s ease all);

        &>.node-value.visible  {
            .node-value-text {
                font-size: 16px;
            }

            .node-circle.initial {
                stroke-dashoffset: 0;
            }

            &>span.node-hover {
                display: block;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &.left>.node-line {
            left: 50%;

            &>line {
                transform-origin: 100% 0px;
            }
        }

        &.right>.node-line {
            right: 50%;

            &>line {
                transform-origin: 0px 0px;
            }
        }

        &:not(.root) {
            width: 50%;
        }

        &[node-value="null"] {
            opacity: 0;
        }
    }

    span.node-hover {
        display: none;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: white;
        border-radius: 100%;
        cursor: default;
        overflow: hidden;
        @include transition(0.3s ease opacity);

        svg.circle {
            height: 50px;
            width: 50px;
            position: absolute;

            &>.node-hover-circle {
                stroke-width: 1;
                stroke-dasharray: 160;
                @include transition(stroke-dashoffset 1s ease);
            }
        }

        &>i {
            position: absolute;
            z-index: 12;
            opacity: 0.3;
            z-index: 10;
            height: 100%;
            width: 50%;
            cursor: pointer;
            @include transform(scale(0.8));
            @include transition(0.5s ease all);

            &.fa-search {
                left: 1px;

                &:hover {
                    z-index: 5;
                    opacity: 1;
                    @include transform(scale(1.2) translateX(2px));

                    &~span.search {
                        width: 100%;
                        max-width: 100%;
                        z-index: 3;

                        .node-hover-circle {
                            stroke-dashoffset: 0;
                        }
                    }
                }
            }

            &.fa-trash {
                right: 1px;

                &:hover {
                    z-index: 5;
                    opacity: 1;
                    @include transform(scale(1.2) translateX(-2px));

                    &~span.trash {
                        width: 100%;
                        max-width: 100%;
                        z-index: 3;

                        .node-hover-circle {
                            stroke-dashoffset: 0;
                        }
                    }
                }
            }
        }

        &>span {
            height: 100%;
            width: 50%;
            display: inline-block;
            position: absolute;
            z-index: 1;
            @include transition(0.5s ease max-width);

            &.search {
                left: 0;
                max-width: 0;
                background: rgb(194, 200, 255);

                &>svg.circle {
                    left: 0;

                    &>.node-hover-circle {
                        stroke-dashoffset: -160;
                        stroke: rgb(3, 0, 196);
                    }
                }
            }

            &.trash {
                right: 0;
                max-width: 0;
                background: rgb(255, 194, 194);

                &>svg.circle {
                    right: 0;

                    &>.node-hover-circle {
                        stroke-dashoffset: 160;
                        stroke: rgb(196, 0, 0);
                    }
                }
            }
        }
    }
}